<p>NeWsVeNzEl►24/7</p>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NeWsVeNzEl►24/7 Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">NeWsVeNzEl►</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Indice</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contactanos</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Urna virtual</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.eltiempo.com/files/image_509_359/uploads/2023/07/06/64a71fe5aa2f2.jpeg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Fiscalía capturó a Nicolás Petro Burgos, hijo del presidente Gustavo Petro</h1>
            <p>¿A qué se enfrentan Nicolás Petro y Daysuris Vásquez tras ser capturados?
                Acá le contamos los caminos judiciales que podrían esperarle al hijo del presidente Gustavo Petro y a su expareja.</p>
            <a class="btn btn-primary" href="#!">Mas Información</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0"> INFORMANDO 24 / 7  </p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Estas son las ciudades más calurosas de Colombia, según el Ideam</h2>
                    <p class="card-text">Las ciudades más calientes son:

                        - Valledupar → 40.1 °C

                        - Riohacha → 38.4 °C

                        - Montería → 38.4 °C

                        - Santa Marta → 38 °C

                        - Cartagena →38 °C</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas Información</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">‘Era muy entregada a sus padres’: habla familia de joven que murió tras caer de un bus.</h2>
                    <p class="card-text">La estudiante de fisioterapia falleció cuando cayó de un bus al intentar recuperar su celular. </p>
                </div>


<div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.infobae.com/new-resizer/IaQoDe9ft_HYeTatOq6yZNdtu6s=/768x432/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/5QAOXNAIEJGEFCSTCAU6BFIDP4.jpeg" alt="..." /></div>


                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas Información</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Así fue la captura de los presuntos asesinos de la mamá del comerciante en Urabá</h2>
                    <p class="card-text">La familia de Andrés Miguel Restrepo, se encontraba reunida, en una vivienda del barrio Jesús Mora, Urabá antioqueño, para darle el último adiós al hombre, cuando tres sujetos armados causaron una nueva tragedia, en esta familia.
                    En medio de un ataque sicarial, que ocurrió en la noche del 28 de julio, en este municipio costero de Antioqueño, los hombres dispararon contra Claudia Patricia Botero Carmona, de 43 años, que según las autoridades era la madre de Restrepo.

                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas Información</a></div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Malcolm Deas: falleció el historiador británico y reconocido estudioso de Colombia
                            Malcolm Deas, profesor emérito de la Universidad de Oxford. </h2>
                            <p class="card-text">Gaviria recordó a Deas como un apasionado por los libros viejos, permanentemente irónico, escéptico y con una predilección por las anécdotas reveladoras que resumían la esencia colombiana.</p>
                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.eltiempo.com/files/article_main_1200/files/crop/uploads/2022/09/18/6327d831735f7.r_1690663485370.0-252-3000-2053.jpeg" alt="..." /></div>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" 
                        href="#!">Mas Información</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white"></p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

